<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net461" />
  <package id="EnterpriseLibrary.Data" version="6.0.1304.0" targetFramework="net461" />
  <package id="MeetingInfoDatabase" version="1.0.0" targetFramework="net461" />
  <package id="Microsoft.ApplicationBlocks.Data" version="2.0.0" targetFramework="net461" />
</packages>